<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>

<body>
    {% for message in messages %}
    <p>{{message}}</p>
    {%endfor%}
    <h2>Please register below: </h2>
    <form action="/register" method="POST">
        {% csrf_token %}
        <div>
            <label for="">First Name: </label>
            <input type="text" name="first_name" id="">
        </div>
        <div>
            <label for="">Last Name: </label>
            <input type="text" name="last_name" id="">
        </div>
        <div>
            <label for="">Username: </label>
            <input type="text" name="username" id="">
        </div>
        <div>
            <label for="">Email: </label>
            <input type="text" name="email" id="">
        </div>
        <div>
            <label for="">Password: </label>
            <input type="password" name="password" id="">
        </div>
        <div>
            <label for="">Confirm Password: </label>
            <input type="password" name="confirm_pw" id="">
        </div>
        <button>Register!</button>
    </form>

</body>

</html>